/*
    File: demo.less
    Description: Stylesheet for the demo page.
    Author: Boyan `netoholic` Yordanov
    Date: 07.02.2013    
*/

// Includes

@import "lch-checkbox.less";

/* 
    Generic styles
*/

body{
    background: #efefef;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

.wrapper{
    background: #fff;
    border-radius: 5px;
    margin: 30px auto;
    width: 960px;
}


/*
    Header
*/

.header{
    background: #27b4ff;
    border-top-left-radius: 10px;
    box-shadow: 3px 7px 1px 3px #0072af;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.header-logo{
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}


/*
    Main content
*/

.main{
    padding: 20px 20px 50px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

/* 
    Demo form   
*/

.demo-fields{
    border: none;
}

.demo-field{
    margin-top: 10px;
    
    &:first-child{
        margin-top: 0;
    }
}

.demo-checkbox{
    //    @background - Checkbox background
    //    @color - Text color
    //    @fontSize - Font size
    //    @width - Width of the checkbox
    //    @height - Height of the checkbox
    //    @lineHeight - Line height for the checkbox
    //    @textAlign - Text align for the text 
    //    @display - Display type
    //    @border - Border style/color/size
    //    @borderRadius - Border radius
    //    @hoverColor - Text color for hover state
    //    @hoverBackground - Background for hover state
    //    @activeColor - Text colro for active state
    //    @activeBackground - Background for active state

    .lch-checkbox(#fff, #333, 13px, 50px, 20px, 20px, center, block, 1px solid #ccc, 5px, #666, #efefef, #fff, #27b4ff);
}
/*
    Footer
*/


.footer{
    border-top: 1px solid #e3e3e3;
    padding: 20px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-bottom-right-radius: 10px;
}

.footer-copyright{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}